/*메인 배너 영역*/
main{
    padding-top: 130px;
    width: 100%;
}
.swiper {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    box-sizing: border-box;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-prev,
.swiper-button-next{
    opacity: 0.5;
}
/* 음식판 영역 */
.menu_pan{
    margin: 3% auto;
    max-width: 1280px;
    color: black;
    font-size: 2vw;
    text-align: center;
}
.menu_pan h1{
    margin: 0;
}
.menu_pan p{
    margin: 0;
}
.menu_box{
    transition: 1s;
    margin: 3% 0;
    position: relative;
    opacity: 1;
    width: 100%;
}
.toast_menu_box{
    left: -150%;
}
.waffle_menu_box{
    left: 150%;
}
.drink_menu_box{
    left: -150%;
}
.m_pan{
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 31%;
    background-color: antiquewhite;
}
.food_menu{
    margin-top: 4%;
    position: absolute;
    width: calc(100% / 5); 
}
.food_pan{
    width: 100%;
}
.food_img{
    width: 100%;
    padding-bottom: 100%;   
}
.food_title{
    width: 100%;
    padding: 10px 0;
    font-size: 1vw;
}
.btn{
    width: 5%;
    padding-bottom: 5%;
    border-radius: 50%;
    border: none;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%) rotateZ(90deg);
    position: absolute;
    cursor: pointer;
    background: url(../img/slide1.png)no-repeat center center /cover;
}
.t_btn_L,
.w_btn_L,
.d_btn_L{
    left: 0;
}
.t_btn_R,
.w_btn_R,
.d_btn_R{
    right: 0;
    transform: translateY(-50%)  rotateZ(-90deg);
}



/*텍스트 영역 */
.text_area{
    width: 100%;
    background-color: rgb(255, 233, 133);
    position: relative;
    overflow: hidden;
    margin-top: 5%;
}
.text_box{
    margin: auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
}
.text_box_title{
    position: relative;
    transform: translateY(80px);
    opacity: 0;
    transition: 1s;
    z-index: 10;
    font-size: 1.6vw;
}
.text_box span{
    position: relative;
    margin: auto;
    max-width: 1280px;
    font-size: 1.3vw;
    font-weight: 900;
    color: rgba(18, 56, 136, 1);
    z-index: 2;
    padding: 1% 0;
    transform: translateY(80px);
    transition: 1s 0.5s;
    opacity: 0;
}
.span_box{
    display: flex;
    flex-direction: column;
}
.text_area_img1{
    width: 22%;
    padding-bottom: 22%;
    background: url('https://www.waffleuniv.com/child/img/main/brand/sec03_ele01.png')no-repeat center center /cover;
    position: absolute;
    top: 10%;
    left: 100%;
    transition: 2s;
    opacity: 0;
}
.text_area_img2{
    width: 25%;
    padding-bottom: 25%;
    background: url('https://www.waffleuniv.com/child/img/main/brand/sec03_ele02.png')no-repeat center center /cover;
    position: absolute;
    bottom: 100%;
    right: 2%;
}
.btn_box{
    margin: auto;
    width: 40%;
    opacity: 0;
    transition: 1s 1.5s;
}
.btn_box button{
    font-size: 0.9vw;
    background-color: rgba(18, 56, 136, 0.9);
    color: white;
    border-radius: 10px;
    border: none;
    width: 40%;
    height: 3vw;
    display: inline-block;
    margin-top: 6%;
    margin-bottom: 10%;
    z-index: 3;
    overflow: hidden;
}
.text_box button:nth-child(1){
    background-color: inherit;
    border: 1px solid rgba(18, 56, 136, 0.9);
    color: rgba(18, 56, 136, 0.9);
}
.text_box button:hover{
    background-color: rgba(18, 56, 136, 0.9);
    color: white;
    cursor: pointer
}



/* 캠퍼스 찾기 영역 */
.search_area{
    padding-top: 1%;
    width: 100%;
    background-color:rgba(233, 150, 122, 0.6);
}
.search_title{
    text-align: center;
    font-size: 2vw;
}
.search_outer{
    margin: auto;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    gap: 3%;
    padding: 3%;
    padding-top: 0;
    box-sizing: border-box;
}
.search_txt{
    width: 40%;
    font-size: 25px;
    margin-bottom: 3%;
    gap: 15px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search_txt span{
    display: inline;
    text-align: right;
    color: white;
    font-size: 1.5vw;
}
.search_txt span:nth-child(1){
    font-size: 2vw;
    margin-bottom: 3%;
    margin-top: 0;
}
.search_box{
    width: 40%;
    background-color: rgb(255, 219, 0);
    border-radius: 20% 0px 20% 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.search_box p{
    font-size: 1.3vw;
}
.search_bar_box{
    width: 80%;
    margin:  0 auto;
    position: relative;
}
.char_icon{
    position: absolute;
    bottom: 15%;
    transform-origin: bottom center;
}
.L_icon{
    background: url(https://www.waffleuniv.com/child/img/main/store/sec05_ai02.png) no-repeat center center /cover;
    left: 20%;
    width: 23%;
    padding-bottom: 30%;
    animation: L_icon_move 2s linear infinite;
}
.R_icon{
    background: url(https://www.waffleuniv.com/child/img/main/store/sec05_ai03.png) no-repeat center center /cover;
    right: 20%;
    width: 21%;
    padding-bottom: 30.2%;
    animation: R_icon_move 2s linear infinite;
}
@keyframes L_icon_move {
    0%{transform: rotate(0deg)}
    33%{transform: rotate(-20deg)}
    66%{transform: rotate(20deg)}
    100%{transform: rotate(0deg)}
    
    
}
@keyframes R_icon_move {
    0%{transform: rotate(0deg)}
    33%{transform: rotate(20deg)}
    66%{transform: rotate(-20deg)}
    100%{transform: rotate(0deg)}    
}
.search_bar{
    width: 100%;
    height: 40px;
    border: 1px solid;
    box-sizing: border-box;
    padding: 2% 10% 2% 3%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.search_icon{
    width: 27px;
    height: 27px;
    background: url(../img/search.png) no-repeat center center /cover;
    position: absolute;
    top: 6.5px;
    right: 6.5px;
}
.search_icon:hover{
    cursor: pointer;
}
.search_btn{
    width: 80%;
    height: 40px;
    background-color: rgb(42, 86, 182);
    color: white;
    position: relative;
    left: 50%;
    font-size: 1.1vw;
    transform: translate(-50% ,10%);
}
.search_btn:hover{
    cursor: pointer;
}
.search_btn span{
    text-align: center;
    line-height: 40px;
}



/*이벤트 영역 */
.event_area{
    margin: auto;
    max-width: 1280px;
    text-align: center;
    font-weight: 900;
    margin-top: 3%;
}
.event_area h1{
    font-size: 2vw;
    margin: 0;
}
.event_box{
    width: 100%;
    display: flex;
    gap: 30px;
    padding: 3% 20px;
    overflow: hidden;
}
.event_outer{
    position: relative;
    width: calc((100% - (30px*3 + 20px*2))/4);
    border-radius: 35% 35% 0 0; 
    padding-bottom: 23%;
    border: 1px solid rgba(0, 0, 0,0.4);    
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    left: 150%;
    animation: rotate1 3s;
}
@keyframes rotate1 {
    0%{transform: rotateZ(-20);}
    20%{transform: rotateZ(20);}
    40%{transform: rotateZ(-20);}
    60%{transform: rotateZ(20);}
    80%{transform: rotateZ(-20);}
    100%{transform: rotateZ(20);}
}
.event_inner{
    position: absolute;
    width: 150%;
    padding-bottom: 150%;
    transform: rotateZ(45deg);
    background: rgb(234, 236, 166); 
    color: white;
    text-align: center;
    top: 65%;
    right: 70%;
}



/* 팔로우 영역 */
.follow_area{
    width: 100%;
    background-color: rgb(240, 255, 170);
    padding-top: 20px;
    padding-bottom: 7%;
}
.follow_area h1{
    text-align: center;
    font-size: 2vw;
}
.follow_box{
    margin: auto;
    max-width: 1028px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
}
.follow_outer{
    width: calc(100% / 5);
    overflow: hidden;
    background-color: black;
}
.follow_outer div{
    width: 100%;
    padding-bottom: 100%;
    transition: all 0.3s;
}
.bar{
    width: 3px;
    height: 10px;
}




@media screen and (max-width: 1200px) {
    .pan,
    .h_top,
    .nav_ul_L,
    .nav_ul_R,
    .pan{
        display: none;
    }
    .Responsive_pan,
    .Responsive_hem{
        display: block;
    }
    .h_bot{
        height: 100px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    }
    .main{
        padding-top: 100px;
    }
    .m_pan{
        padding-bottom: 32%;
    }
    .menu_pan p,
    .follow_area h1,
    .event_area h1,
    .text_box_title,
    .search_title{
        font-size: 3vw;
    }
    .menu_pan div{
        font-size: 1vw;
    }
    .span_box span{
        font-size: 2vw;
    }
    .f_info_text span,
    .search_btn,
    .search_box p{
        font-size: 1.4vw;
    }
}

@media screen and (max-width:1024px) {
    .event_box{
        display: flex;
        flex-wrap: wrap;
    }
    .event_outer{
        width: calc((100% - (30px*1 + 20px*2))/2);
        padding-bottom: 45%;
    }
    .m_pan{
        padding-bottom: 37%;
    }
    .food_menu{
        width: calc(100% / 4);
    }
    .search_txt span{
        font-size: 2vw;
    }
    .search_txt span:nth-child(1){
        font-size: 2.5vw;
    }
    .f_info_text span,
    .search_btn,
    .search_box p{
        font-size: 1.6vw;
    }
}
@media screen and (max-width:768px) {
    .h_bot{
        height: 80px;
    }
    .main{
        padding-top: 80px;
    }
    .logo{
        width: 100px;
        height: 100px;
    }
    .m_pan{
        padding-bottom: 50%;
    }
    .Responsive_hem{
        width: 25px;
        height: 25px;
    }
    .line{
        height: 5px;
    }
    .circle {
        width: 15px;
        height: 15px;
    }
    .btn_box button{
        height: 4.5vw;
        font-size: 2vw;
    }
    .L_icon{
        left: 25%;
        width: 16%;
        padding-bottom: 20.7%;
    }
    .R_icon{
        right: 25%;
        width: 15%;
        padding-bottom: 21.8%;
    }
    .char_icon {
        position: absolute;
        bottom: 7%;
        z-index: 40;
    }
    .search_outer{
        flex-direction: column;
        justify-content: center;
    }
    .search_txt{
        width: 100%;
    }
    .search_txt span{
        font-size: 3.5vw;
        text-align: center;
    }
    .search_txt span:nth-child(1){
        font-size: 4vw;
        margin: 0;
    }
    .search_box{
        width: 100%;
        border-radius: 30px;
        padding-bottom: 30%;
    }
    
    .follow_outer{
        width: calc(100% / 3);
    }
    .follow_outer:nth-child(10){
        display: none;
    }
    .food_menu{
        width: calc(100% / 3);
    }
    .span_box{
        display: none;
    }
    .menu_pan p,
    .follow_area h1,
    .event_area h1,
    .text_box_title,
    .search_title{
        font-size: 4vw;
    }
    .menu_pan div{
        font-size: 3vw;
    }
    .f_info_text span,
    .search_btn,
    .search_box p{
        font-size: 2.6vw;
    }
}

@media screen and (max-width:468px) {
    .logo{
        width: 50px;
        height: 50px;
    }
    .h_bot{
        height: 50px;
    }
    .Responsive_hem{
        width: 20px;
        height: 20px;
    }
    .line{
        height: 5px;
    }
    .main{
        padding-top: 50px;
    }
    .indi {
        gap: 2px;
        bottom: 5px;
    }
    .circle {
        width: 8px;
        height: 8px;
    }
    .m_pan {
        padding-bottom: 55%;
    }
    .text_box{
        margin-top: 10px;
    }
    .btn_box button{
        height: 6vw;
        font-size: 1.6vw;
    }
    .event_box,
    .search_txt{
        gap: 5px;
    }
    .event_outer{
        width: calc((100% - (5px*1 + 20px*2))/2);
        padding-bottom: 45%;
    }
    .search_bar,
    .search_btn{
        height: 25px;
    }
    .search_btn span{
        line-height: 25px;
    }
    .search_icon{
        width: 15px;
        height: 15px;
        top: 5px;
        right: 5px;
    }
    input{
        font-size: 8px;
    }

    .f_info_text span,
    .search_btn,
    .search_box p{
        font-size: 3vw;
    }
}