.main{
    width: 100%;
    padding-top: 130px;
}
.main_banner{
    width: 100%;
    padding-bottom: 37%;
    background: url(https://www.waffleuniv.com/child/img/sub/sv1.png) no-repeat center center /cover;
}

.menu_bar{
    width: 100%;
    background-color: rgb(255, 222, 4);
    color: rgba(0, 0, 0, 0.5);
}
.menu{
    margin: auto;
    max-width: 1280px;
    height: 50px;
    line-height: 50px;
}
.menu_ul{
    display: flex;
    justify-content: center;
    
}
.menu_ul li{
    padding: 0 3%;
    position: relative;
}
li span{
    height: 100%;
}
.bar{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 30%;
    background-color: black;
}
.bar_L{
    left: 0%;
}
.bar_R{
    right: 0%;
}
.toast_btn,
.waffle_btn,
.drink_btn{
    cursor: pointer;
}
.toast_btn{
    color: black;
}
.menu_pan_box{
    margin: auto;
    max-width: 1280px;
}
.menu_pan{
    display: none;
    width: 100%;
    padding: 6% 10px 4% 10px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.menu_pan p{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.7vw;
    margin-top: 3%;
    margin-top: 2%;
}
.plus_btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-bottom: 1%;
    padding: 0.3% 1.2%;
    display: flex;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}
.toast_menu{
    display: block;
}
.opt{
    width: calc((100% - (20px*4)) /5);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 2% 10px;
    float: left;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.opt:hover{
    background-color: rgba(180, 178, 178, 0.1);
}
.opt:hover div{
    transition: 0.3s;
    animation: menu_move 1s linear;
}

@keyframes menu_move {
    0% {transform: rotate(0deg)}
    33% {transform: rotate(-10deg)}
    66% {transform: rotate(10deg)}
    100% {transform: rotate(0deg)}
    
}
.opt:nth-child(5n + 3){
    margin-left: 0;
}
.opt:nth-child(5n + 2){
    margin-right: 0;
}
.t_menu,
.w_menu,
.d_menu{
    width: 100%;
    padding-bottom: 100%;
}
.opt span{
    width: 100%;
    height: 100%;
    padding: 4% 0;
    text-align: center;
    box-sizing: border-box;
    background-color: bisque;
    font-size: 1.1vw;
    position: relative;
    z-index: 3;
}



@media screen and (max-width: 1200px) {
    .pan,
    .h_top,
    .nav_ul_L,
    .nav_ul_R,
    .pan{
        display: none;
    }
    .Responsive_pan,
    .Responsive_hem{
        display: block;
    }
    .h_bot{
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);
        height: 100px;
    }
    .main{
        padding-top: 100px;
    }    
    .opt{
        width: calc((100% - (20px*3)) /4);
    }
    .opt:nth-child(5n + 3){
        margin-left: 10px;
    }
    .opt:nth-child(5n + 2){
        margin-right: 10px;
    }        
    .opt:nth-child(4n + 3){
        margin-left: 0px;
    }
    .opt:nth-child(4n+2){
        margin-right: 0px;
    }
    .menu_pan p{
        font-size: 2.5vw;
    }
    .opt span{
        font-size: 1.6vw;
    }
    .plus_btn{
        font-size: 1.6vw;
        margin-bottom: 1%;   
    }
    .menu_bar{
        height: 35px;
    }
    .menu{
        height: 35px;
        line-height: 35px;
    }
    .f_info_text span{
        font-size: 1.4vw;
    }
    
}
@media screen and (max-width:1024px){
    .f_info_text span{
        font-size: 1.6vw;
    }
}
@media screen and (max-width:768px) {
    .h_bot{
        height: 80px;
    }
    .main{
        padding-top: 80px;
    }
    .logo{
        width: 100px;
        height: 100px;
    }
    .Responsive_hem{
        width: 25px;
        height: 25px;
    }
    .line{
        height: 5px;
    }
    .opt{
        width: calc((100% - (20px*2)) /3);
    }
    .opt:nth-child(4n + 3){
        margin-left: 10px;
    }
    .opt:nth-child(4n + 2){
        margin-right: 10px;
    }        
    .opt:nth-child(3n + 3){
        margin-left: 0px;
    }
    .opt:nth-child(3n + 2){
        margin-right: 0px;
    }
    .menu_pan p{
        font-size: 3.5vw;
    }
    .opt span{
        font-size: 2.3vw;
    }
    .plus_btn{
        font-size: 2vw;
    }

    .menu_bar{
        height: 30px;
    }
    .menu{
        height: 30px;
        line-height: 30px;
        font-size: 2.2vw;
    }
    .f_info_text span{
        font-size: 2vw;
    }
}
@media screen and (max-width:468px) {
    .menu_bar{
        height: 20px;
    }
    .menu{
        height: 20px;
        line-height: 20px;
        font-size: 3vw;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    .h_bot{
        height: 50px;
    }
    .Responsive_hem{
        width: 20px;
        height: 20px;
    }
    .line{
        height: 5px;
    }
    .main{
        padding-top: 50px;
    }
    .opt{
        width: calc((100% - (20px*1)) /2);
    }
    .opt:nth-child(3n + 3){
        margin-left: 10px;
    }
    .opt:nth-child(3n + 2){
        margin-right: 10px;
    }
    .opt:nth-child(2n + 3){
        margin-left: 0px;
    }
    .opt:nth-child(2n + 2){
        margin-right: 0px;
    }
    .f_info_text span{
        font-size: 2.2vw;
    }
}